<!-- (c) Code-X-Mania-->
<!DOCTYPE html>
<html lang="en">
<head>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2331622436178629"
     crossorigin="anonymous"></script>
<!-- sktamilserialbots_sidebar_AdSense2_970x90_as -->
<ins class="adsbygoogle"
     style="display:inline-block;width:970px;height:90px"
     data-ad-client="ca-pub-2331622436178629"
     data-ad-slot="9414464860"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
    <meta charset="UTF-8">
    <meta property="og:image" content="https://i.ibb.co/M8S0Zzj/live-streaming.png" itemprop="thumbnailUrl">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>%s</title>
    <link rel="stylesheet" type='text/css' href="https://drive------google.com/uc?export=view&id=1pVLG4gZy7jdow3sO-wFS06aP_A9QX0O6">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Delius">
    
</head>


    <header>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2331622436178629"
     crossorigin="anonymous"></script>
<!-- sktamilserialbots_sidebar_AdSense2_970x90_as -->
<ins class="adsbygoogle"
     style="display:inline-block;width:970px;height:90px"
     data-ad-client="ca-pub-2331622436178629"
     data-ad-slot="9414464860"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
        <marquee bgcolor="#f7f305"
        <div class="toogle"></div>
        <div id="file-name" class="cyber">
            %s
        </div>
        </marquee>
    </header>
	

	

	

	

	

	

	

	

	

	

    <div class="container">
        <a href=%s>
            <button class="cybr-btn">
                Download
                <span aria-hidden>_</span>
                <span aria-hidden class="cybr-btn__glitch">_404 Error</span>
                <span aria-hidden class="cybr-btn__tag">_%s</span>
            </button>
        </a>
    </div>




   <footer>
<a href="https://shrinkme.io/ref/SkTamilSerialBots"><img src="https://shrinkme.io/banners/ref/728x90GIF.gif" title="Make short links and earn the biggest money" /></a>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2331622436178629"
     crossorigin="anonymous"></script>
<!-- linkshortenersl_banner2_AdSense2_300x250_as -->
<ins class="adsbygoogle"
     style="display:inline-block;width:300px;height:250px"
     data-ad-client="ca-pub-2331622436178629"
     data-ad-slot="6434407296"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
	   <center><h4>Video not playing ? possibly because your browser or the player doesn't support codec please download and watch :D</h4></center><p>
	   <center><h2><b>(c)ADARSH GOEL</b></H2></center>
	   
    </footer>
    <script src="https://cdn.plyr.io/3.6.9/plyr.js"></script>
	<script>
        const controls = [
              'play-large',
              'rewind',
              'play', 
              'fast-forward', 
              'progress', 
              'current-time',
              'duration',
              'mute',
              'volume',
              'captions',
              'settings',
              'pip',
              'airplay',
              'download',
              'fullscreen'
            ];
        document.addEventListener('DOMContentLoaded', () => {
            const player = Plyr.setup('.player', { controls });
        });

        const body = document.querySelector('body');
        const title = document.querySelector('#file-name');
        const footer = document.querySelector('footer');
        const toogle = document.querySelector('.toogle');
    </script>
</body>
</html>
