<!--
    // Change video source for shorter video length //
    // Change video source for shorter video length //
    // Change video source for shorter video length //
-->

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Video Player - Controls</title>
        <meta charset="UTF-8">
        <meta name="description" content="Video - Controls">
        <meta name="author" content="David Wesley">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    </head>
    <body>
        <div class="frame">
            <video preload poster="https://dl.dropbox.com/s/k2riu73j2yib2eg/zf-GMvFd154.jpg" id="video">
                <source src="%s" type="video/mp4">
                <source src="%s" type="video/mp4">
                <source src="%s" type="video/webm">
                <source src="%s" type="video/ogv">
            </video>
            <div class="progress">                
                <div class="progress-bar"></div>                
                <div class="progress-value"></div>
                <div class="buffer"></div>
            </div>
            <div id="controls">
                <i class="material-icons" id="playpause">play_arrow</i>
                <div id="volume">
                    <i class="icon-volume">volume_up</i>
                </div>
                <div id="time">
                    <span id="curTime">00:00</span>
                    <div class="slider">
                        <div class="fill"></div>
                        <div class="handler"></div>
                        <div class="empty"></div>
                        <div class="buffer"></div>
                    </div>
                    <span id="durTime">00:00</span>
                </div>
                <i id="screen" class="material-icons">fullscreen</i>
            </div>            
            <div id="icon-display">
                <div class="inner">
                    <div class="material-icons skip" id="replay">replay_10</div>
                    <div class="material-icons play">play_arrow</div>
                    <div class="material-icons skip" id="forward">forward_10</div>
                </div>
            </div>
        </div>
    </body>
</html>
